
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}

body {
    text-align: center;
    margin: 20px;
    background-color: #000000; /* Substitua pela cor desejada em formato hexadecimal, RGB, ou nome da cor */
    
}





.logo {
    width: em;
    margin-left: 5em;
    position: relative;
    top: 20px;
}

.quadrado-externo {
    width: 1263px; /* Largura do quadrado externo */
    height: 1900px; /* Altura do quadrado externo */
    background-color: #ffffff;
    position: absolute;
    top: 150px;
}

/* Estilo para o quadrado interno */
.quadrado-interno {
    width: 800px; /* Largura do quadrado interno */
    height: 2300px; /* Altura do quadrado interno */
    background-color: #ffffff; /* Cor de fundo do quadrado interno */
    position: absolute;
    top: 50%; /* Posiciona o quadrado interno no centro verticalmente */
    left: 50%; /* Posiciona o quadrado interno no centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o quadrado interno corretamente */
}



.titulo {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    font-weight: 200; /* Valor ajustado para tornar a fonte mais fina */
    color: #000000;
    text-align: center;
    animation: moveTitle 2s infinite alternate;
    position: relative;
    top: -10px;
    left: -20px;
    border-bottom: 1px solid #000000; /* Adiciona uma linha preta de 2 pixels abaixo do título */
    padding-bottom: 10px; /* Adiciona algum espaço entre o título e a linha */
}

.texto1{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    font-weight: 200; /* Valor ajustado para tornar a fonte mais fina */
    color: #000000;
    text-align: center;
    position: absolute;
    top: 480px;
    left: 20px;
    text-align: justify; /* Adiciona justificação ao texto */
    margin: 20; /* Remove a margem padrão */
    
 
}

.texto2{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    font-weight: 200; /* Valor ajustado para tornar a fonte mais fina */
    color: #000000;
    text-align: center;
    position: absolute;
    top: 1500px;
    left: 20px;
    text-align: justify; /* Adiciona justificação ao texto */
    margin: 5; /* Remove a margem padrão */
    
 
}







.card-title {
    color: #262626;
    font-size: 1.1em;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    max-width: 270px;
    max-height: 300px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
    left: 70px;
    top: 1200px;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }


  












  .card-title2 {
    color: #262626;
    font-size: 1.1em;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  
  .small-desc2 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc2 {
    font-size: 1em;
  }
  
  .go-corner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow2 {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card2 {
    display: block;
    position: relative;
    max-width: 270px;
    max-height: 205px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
    left: 450px;
    top:980px;
  }
  
  .card2:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card2:hover:before {
    transform: scale(28);
  }
  
  .card2:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card2:hover .card-title2 {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  

.img6{
    position: absolute;
    top: 70px;
    width: 80%;
    height: 15%;
    border-radius: 4px;
    left: 60px;
}

