body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #ffffff 50%, #4F719d 50%);
}

.container{
    display: flex;
}

.infojob {
    display: block;
    margin-top: 10px;
}

h1 {
    font-size: 30px;
}

/* h2{
    font-size: 30px;
} */

.tituloinfof {
    width: 20px;
    margin-top: -14%;
}

.quadrado1 {
    width: 400px; /* largura */
    height: 400px; /* altura */
    background-color: #e6e6e6;
    border-radius: 5%; /* borda */
    margin-right: 20%;
    line-height: 1.5;

}

.infof {
    text-align: left;
    width: 30%;
    margin-top: -3%;
}