body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;  
     
}

h1 {
    /* text-align: center; */
    background-color: #2d4059;
    color: white;
    padding: 20px;
    margin: 0;
}

.infojob {
    text-align: center;
    margin: 10px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    /* flex-direction: column; Alterado para disposição vertical */
}

.quadrado {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tituloinfof {
    background-color: #4F719D;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.infof {
    padding: 10px;
}

.quadrado:hover {
    background-color: #d2d7d3;
    border-bottom: 2px solid #d2d7d3;
}

     /* position: absolute; */
    /* display: flex;
    justify-content: center;
    background-color: #1c2837;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 16%;
    height: 20%; */
    /* text-align: center;
    cursor: pointer; */

    .cta {
        position: absolute;
        margin-left: 38%;
        margin-top: -8rem;
        /* margin: auto; */
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
       }
       
       .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #4F719D;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
       }
       
       .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #234567;
       }
       
       .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #234567;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
       }
       
       .cta:hover:before {
        width: 100%;
        background: #d2d7d3;
       }
       
       .cta:hover svg {
        transform: translateX(0);
       }
       
       .cta:active {
        transform: scale(0.95);
       }
    
.oculto {
    display: none;
}
